(one_shot_ops:(ops:[(name:"StaticVO",op_type:WriteSingle,op_addr:"0xD010",op_val:"3.3",eval_str:"val / 10 * 65535"),(name:"Speed",op_type:WriteSingle,op_addr:"0xD001",op_val:"750",eval_str:"val / 2600 * 65535"),(name:"CurSpeed",op_type:ReadSingleRO,op_addr:"0xD010",op_val:"",eval_str:"val / 65535 * 2600")]),continuous_ops:(ops:[(name:"StaticVO",op_type:ReadSingle,op_addr:"0xD010",op_val:"",eval_str:"val / 65535 * 10")]))